/* variables */

$font-text: 'Roboto Slab', serif;
$font-header: 'Montserrat', sans-serif;

$color-yellowy: #FED136;
$color-light: #ffffff;

/* global */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-family: $font-text;
    font-size: 14px;
    line-height: 1.2;
}

.btn {
    display: inline-block;
    min-width: 240px;
    border-radius: 3px;
    background-color: $color-yellowy;
    font-size: 18px;
    font-family: 'Mongolian Baiti', serif;
    padding: 23px 10px;
    color: $color-light;
}

section {
    padding: 110px 0 70px
}

/* splash */

